
.home {
    position: relative;
}

.home img {
    width: 100%;
    height: 600px;
    /* transform: rotatey(180deg); */
    image-rendering: pixelated;
    opacity: 1;
}

.leftside {
    position: absolute;
    width: 40%;
    margin-top: 100px;
    margin-left: 150px;
    top: 0;
    z-index: 8;
    text-align: left;
}

.leftside h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(251, 248, 248);
}

.btn1 {
    background-color: rgb(108, 108, 240);
    color: white;
    border-radius: 17px;
    padding: 7px;
}

.btn1:hover {
    background-color: black;
}

.team {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 231, 232);
    text-align: center;
    
    .container {
        display: flex;
        height: 40%;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
       

        .box {
            background-color: rgba(152, 171, 180, 0.633);
            height: 250px;
            width: 200px;
            transition: transform .3s ease-in 0s;
            .image {
                width: 100%;
                height: 60%;
            }

            .image img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
                object-fit: contain;
            }

        }

        .box:hover{
            
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgb(53, 52, 51);
        }
    }

}


.about{
    width: 100%;
    height: 80%;
    background-color: rgb(230, 233, 235);
    .container{
       display: flex;
       height: 100%;
       justify-content: center;
       margin: 0px 70px 0px 100px;
       padding: 80px;
      
    
       .box1{
        position: relative;
        height: 100%;
        width: 50%;
       }



       .box1 div{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 8;
        height: 130px;
        width: 130px;
        background-color: rgba(239, 53, 99, 0.6);
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
        margin-right: 80px;
        border-radius: 50%;
       }

    }
    
       .box3{
        top: 0;
        padding: 10px;
        padding-right: 200px;
        height: 450px;
        width: 50%;
        margin: 10px;
        background-color: rgba(215, 218, 214, 0.456);
       }
}









